@import "../constants.scss";
.title-text {
  font-weight: bold;
  text-transform: uppercase;
}
.margin-component {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.margin-quaotation {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
