@import "../constants.scss";
.title-text {
  font-weight: bold;
  text-transform: uppercase;
}
.margin-component {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.margin-quaotation {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.CardLayout-Width {
  width: 95% !important;
  margin-bottom: 100px !important;
}
.CardLayout-Title {
  text-align: center;
  font-weight: bold;
}

.MainView-col {
  min-width: 150px !important;
}
// @import "../../../node_modules/bootstrap/scss/card";
@media (max-width: 375px) {
  .CardLayout-Bodytext {
    min-width: 150px;
  }
}
@media (max-width: 560px) {
  .CardLayout-Bodytext {
    min-width: 200px;
  }
}
