$font-family: "Noto Sans",sans-serif;

$large: '1200px';
$medium: '992px';
$small: '768px';
$x-small: '480px';

// Colors
$primary: #0a0a0a;
$primary-light: #424b53;
$primary-dark: #8a8d8f;

$accent: #B40404;

$secondary: #32742C;
$secondary-dark: #004800;
$secondary-light: #62A357;

// Gray scale
$gray-1: #9F9F9F;
$gray-2: #D8D8D8;
$gray-3: #E6E6E6;
$gray-4: #F5F5F5;

// Gray scale
$font-dark: #393939;
$font-white: #fff;

//Colors
$white: #FFFFFF;
$black: #000000;
$transparent: rgba(0, 0, 0, 0);
$gray-bluish: #e5e8ea;
$gray-chateau: #999c9d;

$transparent: rgba(0, 0, 0, 0);
$gmp-background-tint: #e5e8ea;

$gmp-background: #ecf6fa;
$gmp-background-dark: #a1a4a6;
$gmp-background-shade: #363636;
$gmp-background-light-shade: #848484;
$gmp-background-tint: #e5e8ea;
$gmp-background-tint-shade: #f3f3f3;
$gmp-background-feed: #f9f9f9;
$yellow-tangerine: #F1BB17;
